./frontend/.env
./frontend/node_modules
./frontend/build
./frontend/.git
./frontend/.gitignore
./frontend/.idea
./frontend/.vscode
.env
./backend/.env
./backend/node_modules
./backend/build
./backend/.git
./backend/.gitignore
./backend/.idea
./backend/.vscode
./backend/requirements.txt
node_modules
build
.idea
.vscode