/* Font for logo */
@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/* styles.css */

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gowun Dodum', cursive;
}

/* variables */
:root {
  /* --a-color: #01204E;
  --b-color: #028391;
  --c-color: #F6DCAC;
  --d-color: #FEAE6F; */

  --d-color: #A0C878;
  --b-color: #27667B;
  --c-color: #DDEB9D;
  --a-color: #143D60;

  --danger-color: #e74c3c;
  --success-color: #2ecc71;
  --warning-color: #f1c40f;
  --info-color: #3498db;
  --dark-color: #333;
}

/* Navbar */
.logo {
  font-family: 'Kranky', cursive;
  font-size: 1.5rem;
  color: var(--d-color);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--a-color);
  color: var(--c-color);
  position: relative;
}

/* Menu Button (Hamburger) */
.menu-btn {
  background: none;
  border: none;
  color: var(--d-color);
  font-size: 24px;
  cursor: pointer;
  display: none;
  /* Hide on large screens */
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--c-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white;
}

/* ✅ Responsive Styles */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    /* Show button on mobile */
  }

  .profile-dropdown {
    left: 40%;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    /* background: var(--); */
    width: 100%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.open {
    opacity: 1;
    pointer-events: auto;
    background-color: var(--a-color);
  }
}

/*  profile-dropdown  */
.user-menu {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 100%;

  right: 0;
  /* background: var(--dark2-color); */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  width: 150px;
  display: none;
  flex-direction: column;
}

.profile-dropdown a,
.profile-dropdown .logout-btn {
  background: var(--c-color);
  padding: 10px;
  text-align: left;
  color: var(--a-color);
  text-decoration: none;
  font-size: 14px;

  display: inline-block;
  cursor: pointer;
  border: none;
}

/* .logout-btn {
  border-radius: 5px;
} */

.profile-dropdown a:hover,
.profile-dropdown .logout-btn:hover {
  background: var(--a-color);
  color: white;
  border-radius: 5px;
}

.user-menu:hover .profile-dropdown {
  display: flex;

}

.user-icon {
  background: none;
  border: none;
  padding: 0;
  font-size: large;
  color: var(--c-color);
  cursor: pointer;
}